@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto);
}

.simple-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.simple-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Tailwind slate-300 */
  border-radius: 8px;
}

.simple-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}